#nowPlayingBarContainer {
    position: fixed;
    background-color: #282828;
    width: 100vw;
    bottom: 0;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex;
    height: 95px;
    padding: 5px;
    box-sizing: border-box;
}


.material-icons:hover {
    cursor: pointer;
    -webkit-text-stroke: 2px #5a0e1f;
}

#nowPlayingBar .content {
    width: 100%;
}

/*
 * Now playing Left
 */
#nowPlayingLeft {
    width: 30%;
    min-width: 180px;
}

.albumLink {
    float: left;
    width: 100px;
    height: 100px;
    margin-left: -5px;
    margin-top: -5px;
    margin-right: 10px;
}

.albumLink img {
    max-height: 100%;
    max-width: 100px;
    box-shadow: 1px 5px 8px black;
}

.artistName {
    display: block;
    font-family: 'Gentium Basic', cursive;
    font-size: 16px;
    font-weight: bold;
    color: #a0a0a0;
}

.trackName {
    display: block;
    font-family: 'Laila', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #991633;
    padding-top: 15px;
}

/*
 * Now playing Right
 */
#nowPlayingRight {
    width: 30%;
    min-width: 60px;
}

#nowPlayingRight .material-icons {
    height: 36px;
    width: 36px;
}

#volumeBar {
    position: absolute;
    width: 180px;
    right: 0;
}

#volumeBar .progressBar,
#volumeBar .progressBarBackground
{
    width: 125px !important;
    height: 6px !important;
}


/*
 * Now playing center
 */
#nowPlayingCenter {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#nowPlayingCenter .buttons,
#nowPlayingRight
{
    color: #991633;
    -webkit-text-stroke: 1px #991633;
}

#nowPlayingCenter .material-icons {
    height: 36px;
    width: 36px;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
}

.progressBarBackground {
    height: 15px;
    width: 100%;
    border-radius: 10px;
    background-color: #404040;
}

.progress {
    background-color: #a0a0a0;
    height: 15px;
    width: 0;
    border-radius: 10px;
}

#playArrow,
#pause
{
    width: 64px !important;
    height: 64px !important;
    margin-top: -15px !important;
    margin-left: -10px !important;
    margin-right: -10px !important;
}

.progressBar {
    display: inline-flex;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    cursor: pointer;
}

.playBar {
    display: flex;
}

.playBar span {
    color: #a0a0a0;
    font-size: 14px;
    min-width: 40px;
    text-align: center;
}

.buttons {
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width: fit-content;
}