/*
 * Imports
 */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Laila');
@import url('https://fonts.googleapis.com/css?family=Gentium+Basic');

.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-56 { font-size: 56px; }
.material-icons.md-64 { font-size: 64px; }
.material-icons.md-72 { font-size: 72px; }

/*
 * Elements
 */
body {
    position: fixed;
    top: 0px !important;
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
}

button {
    font-family: 'Laila', cursive;
    background-color: transparent;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0 0 2px #fff;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 7px #fff;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
    display: block;
    background-color: transparent;
    font-family: 'Laila', cursive;
    width: 60%;
    height: 27px;
    line-height: 27px;
    text-align: center;
    margin: auto;
    border: 0;
    border-bottom: 1px solid #fff;
    color: white;
}

* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}